
<table>
    <tr>
        <td>
            @Html.ActionLink("Strona główna", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.RouteLink("Galeria", "Gallery")
        </td>
    </tr>
    <tr>
        <td>
            @Html.RouteLink("Kontakt", "Contact")
        </td>
    </tr>
</table>